* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif; }

.clas-headernos {
  display: flex;
  flex-direction: column; }

/*---index.html---*/
header {
  padding: 0;
  margin: 0; }
  header nav {
    padding: 0;
    margin: 0; }
    header nav .content-logo {
      width: 50px;
      height: 50px; }

/*---nosotros.html---*/
header .clas-headernos {
  display: flex;
  flex-direction: column; }

header .content-logonos {
  width: 50px;
  height: 50px; }

/*---contacto.html---*/
header .content-logo {
  width: 50px;
  height: 50px; }

/*---COLORES---*/
/*---index.html---*/
@media screen and (max-width: 400px) {
  .section-2 {
    display: flex;
    flex-wrap: wrap; } }

@media screen and (max-width: 530px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto; } }

@media screen and (max-width: 770px) {
  .form-class {
    display: flex;
    flex-direction: column; } }

/*---nosotros.html---*/
@media screen and (min-width: 400px) {
  nav {
    display: flex;
    flex-direction: column;
    text-align: end; } }

@media screen and (max-width: 570px) {
  .content-h2nos {
    display: flexbox;
    line-height: 2.0;
    font-size: 25px;
    letter-spacing: 5px; } }

@media screen and (max-width: 1450px) {
  .content-h2nos {
    display: flexbox;
    line-height: 3.0;
    font-size: 25px;
    letter-spacing: 3px; } }

/*---contacto.html---*/
@media screen and (max-width: 440px) {
  .li-email {
    display: flexbox;
    justify-content: left;
    text-align: left; } }

@media screen and (max-width: 375px) {
  .li-email {
    font-size: 17px; } }

/*---proceso.html---*/
@media screen and (max-width: 875px) {
  .img1-mainproces {
    size: 2000px;
    height: 100%;
    width: 100%; } }

/*---nuestra historia.html---*/
@media screen and (max-width: 570px) {
  .content-h2nm {
    display: flexbox;
    line-height: 2.0;
    font-size: 25px;
    letter-spacing: 5px; } }

@media screen and (max-width: 600px) {
  .content-pnmt {
    display: flexbox;
    line-height: 1.2;
    font-size: 10px; } }

@media screen and (max-width: 900px) {
  .content-imgnm {
    size: 500px;
    height: 100%;
    width: 100%; } }

@media screen and (max-width: 650px) {
  .sec-foonm {
    display: flexbox;
    justify-content: center;
    text-align: center;
    font-size: 18px; } }

/*---index.html---*/
main .section-2 {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  padding-top: 20px;
  background-color: coral; }

main .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-image: url(/images/ma-img.jpg);
  background-position: center;
  background-repeat: space;
  background-size: cover; }

@media screen and (max-width: 530px) {
  main .grid-container {
    display: grid;
    grid-template-columns: auto; } }

main .grid-item1 {
  color: coral;
  width: 150px;
  height: 150px;
  border: 4px solid black;
  margin: 10px;
  text-align: center;
  font-weight: 900;
  text-decoration: underline;
  background-image: url(/images/cafe-espresso.jpg);
  background-size: cover;
  background-position: center; }

main .grid-item2 {
  color: coral;
  width: 150px;
  height: 150px;
  border: 4px solid black;
  margin: 10px;
  text-align: center;
  font-weight: 900;
  text-decoration: underline;
  background-image: url(/images/espresso-doble.jpg);
  background-size: cover;
  background-position: center; }

main .grid-item3 {
  color: coral;
  width: 150px;
  height: 150px;
  border: 4px solid black;
  margin: 10px;
  text-align: center;
  font-weight: 900;
  text-decoration: underline;
  background-image: url(/images/americ-min.jpg);
  background-size: cover;
  background-position: center; }

main .grid-item4 {
  color: coral;
  width: 150px;
  height: 150px;
  border: 4px solid black;
  margin: 10px;
  text-align: center;
  font-weight: 900;
  text-decoration: underline;
  background-image: url(/images/capuccino.jpg);
  background-size: cover;
  background-position: center; }

main .grid-item5 {
  color: coral;
  width: 150px;
  height: 150px;
  border: 4px solid black;
  margin: 10px;
  text-align: center;
  font-weight: 900;
  text-decoration: underline;
  background-image: url(/images/cafee-latte.jpg);
  background-size: cover;
  background-position: center; }

main .grid-item6 {
  color: coral;
  width: 150px;
  height: 150px;
  border: 4px solid black;
  margin: 10px;
  text-align: center;
  font-weight: 900;
  text-decoration: underline;
  background-image: url(/images/moca.jpg);
  background-size: cover;
  background-position: center; }

/*---nosotros.html---*/
main {
  font-family: Georgia;
  font-weight: 500; }
  main .p-main {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #3D3D3D;
    color: bisque;
    line-height: 2.5; }
  main .link {
    background-color: #3D3D3D;
    color: #318adf; }

/*---contacto.html---*/
main .content-maincon {
  padding-top: 20px;
  background-color: #3D3D3D; }

main ul .li-email {
  margin: 0%;
  padding-top: 10px;
  border-radius: 20px;
  background-color: #3D3D3D;
  color: bisque;
  font-size: 20px;
  font-weight: 900;
  width: 100%;
  height: 100%;
  display: flexbox;
  justify-content: center;
  text-align: center; }

@media screen and (max-width: 440px) {
  main ul .li-email {
    display: flexbox;
    justify-content: left;
    text-align: left; } }

@media screen and (max-width: 375px) {
  main ul .li-email {
    font-size: 17px; } }

/*---proceso.html---*/
main .content-mainproces {
  background-color: #3D3D3D; }
  main .content-mainproces .content-pproces {
    margin: 0%;
    display: flex;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    background-color: coral;
    color: bisque; }
  main .content-mainproces .content-divproces {
    display: flexbox;
    justify-content: center;
    text-align: center; }
  main .content-mainproces .img1-mainproces {
    size: 1500px;
    height: 850px;
    width: 850px; }
  @media screen and (max-width: 875px) {
    main .content-mainproces .img1-mainproces {
      size: 2000px;
      height: 100%;
      width: 100%; } }

/*---proceso.html---*/
main .content-pnm {
  margin: 0;
  padding: 0;
  display: flexbox;
  text-align: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 500;
  color: coral; }

main .content-pnmt {
  margin: 0;
  padding-top: 10px;
  display: flexbox;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.5;
  letter-spacing: 5px;
  color: bisque;
  background-color: #3D3D3D; }

@media screen and (max-width: 600px) {
  main .content-pnmt {
    display: flexbox;
    line-height: 1.2;
    font-size: 20px;
    line-height: 1.5; } }

main .content-divnm {
  display: flexbox;
  justify-content: center;
  text-align: center; }
  main .content-divnm .content-imgnm {
    size: 800px;
    width: 1000px;
    height: 1000px; }
  @media screen and (max-width: 900px) {
    main .content-divnm .content-imgnm {
      size: 500px;
      height: 100%;
      width: 100%; } }

/*---contacto.html---*/
h1 {
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-image: url(/images/cafe-contacto.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 40%;
  color: #f0d3af; }

/*---COLORES---*/
/*---index.html---*/
.content-h2ind {
  font-size: 25px;
  font-weight: 500;
  color: bisque;
  background-color: #3D3D3D;
  display: flexbox;
  justify-content: center;
  text-align: center;
  letter-spacing: 3px;
  line-height: 3.0; }

/*---contacto.html---*/
.content-h2contacto {
  font-size: 25px;
  font-weight: 500;
  color: bisque;
  background-color: #3D3D3D;
  display: flexbox;
  justify-content: center;
  text-align: center;
  letter-spacing: 3px;
  line-height: 3.0; }

/*---nosotros.html---*/
.content-h2nos {
  font-size: 40px;
  font-weight: 500;
  color: bisque;
  background-color: #3D3D3D;
  display: flexbox;
  justify-content: center;
  text-align: center;
  letter-spacing: 15px;
  line-height: 4.0; }
  @media screen and (max-width: 570px) {
    .content-h2nos .content-h2nos {
      display: flexbox;
      line-height: 2.0;
      font-size: 25px;
      letter-spacing: 5px; } }
  @media screen and (max-width: 1450px) {
    .content-h2nos .content-h2nos {
      display: flexbox;
      line-height: 3.0;
      font-size: 25px;
      letter-spacing: 3px; } }

/*---nuestra mision.html---*/
.content-h2nm {
  font-size: 50px;
  font-weight: 500;
  color: bisque;
  background-color: #3D3D3D;
  display: flexbox;
  justify-content: center;
  text-align: center;
  letter-spacing: 15px;
  line-height: 4.0; }
  @media screen and (max-width: 560px) {
    .content-h2nm .content-h2nm {
      display: flexbox;
      justify-content: center;
      text-align: center;
      line-height: 2.0;
      font-size: 20px;
      letter-spacing: 5px; } }

h3 {
  display: flex;
  font-size: 25px;
  font-weight: 500;
  line-height: 2.5;
  color: bisque;
  background-color: coral; }

/*---index.html---*/
form {
  background-color: #3D3D3D; }
  form .form-input {
    padding-top: 0%;
    font-size: 16px;
    font-weight: 500;
    background-color: bisque;
    color: black;
    border: 1px solid black; }
  form .form-cta {
    font-size: 16px;
    background-color: #318adf;
    color: bisque;
    border: 1px solid black;
    font-weight: 300; }

footer {
  font-weight: 900;
  font-size: 20px;
  color: bisque;
  background-color: #3D3D3D;
  line-height: 2.5; }

/*---nosotros.html---*/
footer .clas-foot {
  background-image: url(https://i.pinimg.com/564x/12/b0/68/12b068d47127f6fa1a9de1223a9eb91b.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

footer img {
  height: 100%;
  width: 100%; }

footer .footer-p {
  padding-top: 50px;
  font-size: 15px;
  font-weight: 700;
  background-color: #3D3D3D;
  color: bisque; }

/*---contacto.html---*/
footer .content-nos .content-footerp {
  padding-top: 50px;
  font-size: 20px;
  font-weight: 500;
  color: bisque; }

footer .content-nos .content-imagencontacto {
  margin: 0;
  padding: 0;
  width: 70%;
  height: 70%;
  size: 70%; }

/*---proceso.html---*/
footer .content-footerproces {
  background-color: coral; }

/*---nuestra mision.html---*/
footer .sec-foonm {
  display: flexbox;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  padding-top: 10px; }

@media screen and (max-width: 650px) {
  footer .sec-foonm {
    display: flexbox;
    justify-content: center;
    text-align: center;
    font-size: 18px; } }

/*---index.html---*/
@media screen and (max-width: 400px) {
  .section-2 {
    display: flex;
    flex-wrap: wrap; } }

@media screen and (max-width: 530px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto; } }

@media screen and (max-width: 770px) {
  .form-class {
    display: flex;
    flex-direction: column; } }

/*---nosotros.html---*/
@media screen and (min-width: 400px) {
  nav {
    display: flex;
    flex-direction: column;
    text-align: end; } }

@media screen and (max-width: 570px) {
  .content-h2nos {
    display: flexbox;
    line-height: 2.0;
    font-size: 25px;
    letter-spacing: 5px; } }

@media screen and (max-width: 1450px) {
  .content-h2nos {
    display: flexbox;
    line-height: 3.0;
    font-size: 25px;
    letter-spacing: 3px; } }

/*---contacto.html---*/
@media screen and (max-width: 440px) {
  .li-email {
    display: flexbox;
    justify-content: left;
    text-align: left; } }

@media screen and (max-width: 375px) {
  .li-email {
    font-size: 17px; } }

/*---proceso.html---*/
@media screen and (max-width: 875px) {
  .img1-mainproces {
    size: 2000px;
    height: 100%;
    width: 100%; } }

/*---nuestra historia.html---*/
@media screen and (max-width: 570px) {
  .content-h2nm {
    display: flexbox;
    line-height: 2.0;
    font-size: 25px;
    letter-spacing: 5px; } }

@media screen and (max-width: 600px) {
  .content-pnmt {
    display: flexbox;
    line-height: 1.2;
    font-size: 10px; } }

@media screen and (max-width: 900px) {
  .content-imgnm {
    size: 500px;
    height: 100%;
    width: 100%; } }

@media screen and (max-width: 650px) {
  .sec-foonm {
    display: flexbox;
    justify-content: center;
    text-align: center;
    font-size: 18px; } }

/*---COLORES---*/
.clas-headernos {
  display: flex;
  flex-direction: column; }
