
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: coral;
}


/* BODY */
body {
    margin: 0;
    padding: 0;
    font-family: Georgia;
    background-color: #F0F7EE;
}



/* HEADER */
header{
    display: flex;
    flex-direction: column;
}

nav{
    font-size: 20px;
    font-weight: 900;
    color: rgb(49, 138, 223);
}
@media screen and (min-width: 400px){
    nav{
        display: flex;
        flex-direction: column;
        text-align: end;
    }
}



/* H2 */
.h2 {
    padding: 0;
    font-size: 15px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    color: bisque;
    text-decoration: underline;
    background-color: #3D3D3D;
}
@media screen and (max-width: 580px){
    .h2{
        display: flex;
        flex-wrap: wrap;
        text-align: left;
    }
}



/* MAIN */
main {
    padding-top: 15px;
    font-family: Georgia;
    font-weight: 500;
}

/* MAIN ARTICLE */
.p-main{
    font-size: 15px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #3D3D3D;
    color: bisque;
}
.link{
    background-color: #3D3D3D;
    color: rgb(49, 138, 223);
}



/* H3 */
h3{
    padding-top: 15px;
    background-color: #3D3D3D;
    color: bisque;
}



/* LI */
li{
    background-color: #3D3D3D;
    color: bisque;
}
b{
    background-color: #3D3D3D;
    color: bisque;
}



/* FOOTER */
.clas-foot{
    background-image: url(https://i.pinimg.com/564x/12/b0/68/12b068d47127f6fa1a9de1223a9eb91b.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

img{
    height: 500px;
    width: 500px;
}

.footer-p{
    font-size: 15px;
    font-weight: 700;
    background-color: #3D3D3D;
    color: bisque;
}