* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif; }

.clas-headernos {
  display: flex;
  flex-direction: column; }

/*---index.html---*/
header {
  padding: 0;
  margin: 0; }
  header nav {
    padding: 0;
    margin: 0; }
    header nav .content-logo {
      width: 50px;
      height: 50px; }

/*---nosotros.html---*/
header .clas-headernos {
  display: flex;
  flex-direction: column; }

header .content-logonos {
  width: 50px;
  height: 50px; }

/*---contacto.html---*/
header .content-logo {
  width: 50px;
  height: 50px; }

/*---COLORES---*/
/*---index.html---*/
main .section-2 {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  padding-top: 20px;
  background-color: coral; }

main .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-image: url(/images/ma-img.jpg);
  background-position: center;
  background-repeat: space;
  background-size: cover; }

@media screen and (max-width: 530px) {
  main .grid-container {
    display: grid;
    grid-template-columns: auto; } }

main .grid-item1 {
  color: coral;
  width: 150px;
  height: 150px;
  border: 4px solid black;
  margin: 10px;
  text-align: center;
  font-weight: 900;
  text-decoration: underline;
  background-image: url(/images/cafe-espresso-min.jpg);
  background-size: cover;
  background-position: center; }

main .grid-item2 {
  color: coral;
  width: 150px;
  height: 150px;
  border: 4px solid black;
  margin: 10px;
  text-align: center;
  font-weight: 900;
  text-decoration: underline;
  background-image: url(/images/espresso-doble-min.jpg);
  background-size: cover;
  background-position: center; }

main .grid-item3 {
  color: coral;
  width: 150px;
  height: 150px;
  border: 4px solid black;
  margin: 10px;
  text-align: center;
  font-weight: 900;
  text-decoration: underline;
  background-image: url(/images/americano-min.jpg);
  background-size: cover;
  background-position: center; }

main .grid-item4 {
  color: coral;
  width: 150px;
  height: 150px;
  border: 4px solid black;
  margin: 10px;
  text-align: center;
  font-weight: 900;
  text-decoration: underline;
  background-image: url(/images/capuccino-min.jpg);
  background-size: cover;
  background-position: center; }

main .grid-item5 {
  color: coral;
  width: 150px;
  height: 150px;
  border: 4px solid black;
  margin: 10px;
  text-align: center;
  font-weight: 900;
  text-decoration: underline;
  background-image: url(/images/cafee-latte-min.jpg);
  background-size: cover;
  background-position: center; }

main .grid-item6 {
  color: coral;
  width: 150px;
  height: 150px;
  border: 4px solid black;
  margin: 10px;
  text-align: center;
  font-weight: 900;
  text-decoration: underline;
  background-image: url(/images/moca-min.jpg);
  background-size: cover;
  background-position: center; }

/*---nosotros.html---*/
main {
  font-family: Georgia;
  font-weight: 500; }
  main .p-main {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #3D3D3D;
    color: bisque; }
  main .link {
    background-color: #3D3D3D;
    color: #318adf; }

/*---contacto.html---*/
main .content-maincon {
  padding-top: 20px;
  background-color: #3D3D3D; }

main h2 {
  font-size: 30px;
  font-weight: 500;
  color: bisque; }

main ul .li-email {
  margin: 0%;
  padding-top: 10px;
  border-radius: 20px;
  background-color: #3D3D3D;
  color: bisque;
  font-size: 20px;
  font-weight: 900;
  width: 100%;
  height: 100%;
  display: inline-block;
  text-align: center; }

/*---contacto.html---*/
h1 {
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-image: url(/images/cafefinal-min.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 40%;
  color: #f0d3af; }

/*---COLORES---*/
/*---contacto.html---*/
.content-h2 {
  color: bisque;
  font-size: 25px;
  padding: 0;
  font-weight: 900;
  text-align: center;
  text-decoration: underline;
  background-color: #3D3D3D; }

/*---nosotros.html---*/
.content-h2nos {
  font-size: 30px;
  font-weight: 500;
  color: bisque;
  text-align: center;
  background-color: #3D3D3D; }

h3 {
  padding-top: 10px;
  display: flex;
  font-size: 25px;
  font-weight: 500;
  color: bisque;
  background-color: coral; }

/*---index.html---*/
form {
  background-color: #3D3D3D; }
  form .form-input {
    padding-top: 0%;
    font-size: 16px;
    font-weight: 500;
    background-color: bisque;
    color: black;
    border: 1px solid black; }
  form .form-cta {
    font-size: 16px;
    background-color: #318adf;
    color: bisque;
    border: 1px solid black;
    font-weight: 300; }

footer {
  font-weight: 900;
  font-size: medium;
  color: bisque;
  background-color: #3D3D3D; }

/*---index.html---*/
.content-footerindex {
  padding-top: 50px; }

/*---nosotros.html---*/
footer .clas-foot {
  background-image: url(https://i.pinimg.com/564x/12/b0/68/12b068d47127f6fa1a9de1223a9eb91b.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

footer img {
  height: 100%;
  width: 100%; }

footer .footer-p {
  padding-top: 50px;
  font-size: 15px;
  font-weight: 700;
  background-color: #3D3D3D;
  color: bisque; }

/*---contacto.html---*/
footer .content-nos .content-footerp {
  padding-top: 50px;
  font-size: 20px;
  font-weight: 500;
  color: bisque; }

footer .content-nos .content-imagencontacto {
  margin: 0;
  padding: 0;
  width: 70%;
  height: 70%;
  size: 70%; }

/*---index.html---*/
@media screen and (max-width: 400px) {
  .section-2 {
    display: flex;
    flex-wrap: wrap; } }

@media screen and (max-width: 530px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto; } }

@media screen and (max-width: 770px) {
  .form-class {
    display: flex;
    flex-direction: column; } }

/*---nosotros.html---*/
@media screen and (min-width: 400px) {
  nav {
    display: flex;
    flex-direction: column;
    text-align: end; } }

@media screen and (max-width: 580px) {
  .h2 {
    display: flex;
    flex-wrap: wrap;
    text-align: left; } }

/*---contacto.html---*/
@media screen and (max-width: 450px) {
  .li-email {
    display: flex;
    flex-wrap: wrap;
    text-align: left; } }

/*---COLORES---*/
.clas-headernos {
  display: flex;
  flex-direction: column; }
