/*---index.html---*/
footer{
    padding-top: 50px;
    font-weight: 900;
    font-size: medium;
    color: bisque;
    background-color: #3D3D3D;
}
/*---nosotros.html---*/
footer{
    .clas-foot{
        background-image: url(https://i.pinimg.com/564x/12/b0/68/12b068d47127f6fa1a9de1223a9eb91b.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    img{
        height: 100%;
        width: 100%;
    }
    
    .footer-p{
        font-size: 15px;
        font-weight: 700;
        background-color: #3D3D3D;
        color: bisque;
    }
}
/*---contacto.html---*/
footer .content-nos{
    .content-footerp{
        padding-top: 40px;
        font-size: 20px;
        font-weight: 500;
        color: bisque;
    }
    .content-imagencontacto{
        margin: 0;
        padding: 0;
        width: 70%;
        height: 70%;
        size: 70%;
    }
}