/*---index.html---*/
form{
    background-color: #3D3D3D;
    .form-input{
        padding-top: 0%;
        font-size: 16px;
        font-weight: 500;
        background-color: bisque;
        color: black;
        border: 1px solid black;
        }
    .form-cta{
        font-size: 16px;
        background-color: #318adf;
        color: bisque;
        border: 1px solid black;
        font-weight: 300;
        }
    }
