/*---contacto.html---*/
h1{
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-image: url(/images/cafefinal.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 40%;
    color: rgb(240, 211, 175);
}