@import "../base/maps";
/*---contacto.html---*/
h2 {
    color: map-get($h2, color-h2 );
    font-size: map-get($h2, f-s );
    padding: map-get($h2, padd );
    font-weight: map-get($h2, f-w );
    text-align: map-get($h2, t-a );
    text-decoration: map-get($h2, t-d );
    background-color: map-get($h2, bg-color );
}
/*---nosotros.html---*/
.header-nos{
    font-size: 30px;
    font-weight: 500;
    color: bisque;
}