/*---contacto.html---*/
.h2 {
    padding: 0;
    font-size: 15px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    color: bisque;
    text-decoration: underline;
    background-color: #3D3D3D;
}
/*---nosotros.html---*/
h2{
    font-size: 30px;
    font-weight: 500;
    color: bisque;
}