@import "../base/maps";
@import "../base/variables";
/*---index.html---*/
.content-h2ind{
    font-size: 25px;
    font-weight: 500;
    color: map-get($h2, color-h2 );
    background-color: map-get($h2,  bg-color );
    display: flexbox;
    justify-content: center;
    text-align: center;
    letter-spacing: 3px;
    line-height: 3.0;
}
/*---contacto.html---*/
.content-h2contacto{
    font-size: 25px;
    font-weight: 500;
    color: map-get($h2, color-h2 );
    background-color: map-get($h2,  bg-color );
    display: flexbox;
    justify-content: center;
    text-align: center;
    letter-spacing: 3px;
    line-height: 3.0;
}
/*---nosotros.html---*/
.content-h2nos{
    font-size: 40px;
    font-weight: 500;
    color: map-get($h2, color-h2 );
    background-color: map-get($h2,  bg-color );
    display: flexbox;
    justify-content: center;
    text-align: center;
    letter-spacing: 15px;
    line-height: 4.0;
    @media screen and (max-width: 570px){
        .content-h2nos{
            display: flexbox;
            line-height: 2.0;
            font-size: 25px;
            letter-spacing: 5px;
        }
    }
    @media screen and (max-width: 1450px){
        .content-h2nos{
            display: flexbox;
            line-height: 3.0;
            font-size: 25px;
            letter-spacing: 3px;
        }
    }
}
/*---nuestra mision.html---*/
.content-h2nm{
    font-size: 50px;
    font-weight: 500;
    color: map-get($h2, color-h2 );
    background-color: map-get($h2,  bg-color );
    display: flexbox;
    justify-content: center;
    text-align: center;
    letter-spacing: 15px;
    line-height: 4.0;
    @media screen and (max-width: 560px){
        .content-h2nm{
            display: flexbox;
            justify-content: center;
            text-align: center;
            line-height: 2.0;
            font-size: 20px;
            letter-spacing: 5px;
        }
    }
}