@import "../base/mixins";
/*---index.html---*/
header{
    padding: 0;
    margin: 0;
    nav{
    padding: 0;
    margin: 0;
    .content-logo{
        width: 50px;
        height: 50px;
    }
    }
}
/*---nosotros.html---*/
header{
    .clas-headernos{
        @mixin flex ($flex, $direction){
            display: $flex;
            flex-direction: $direction;
        }
        @include flex (flex, column);
    }
    .content-logonos{
        width: 50px;
        height: 50px;
    }
}
/*---contacto.html---*/
header{
    .content-logo{
        width: 50px;
        height: 50px;
        }
    }