@import "../base/variables";
/*---index.html---*/
main {
    .section-2{
        font-weight: 500;
        font-size: 20px;
        margin: 0;
        padding-top: 20px;
        background-color: coral;
    }
    .grid-container{
        display: grid;
        grid-template-columns: auto auto auto;
        background-image: url(/images/ma-img.jpg);
        background-position: center;
        background-repeat: space;
        background-size: cover;
        
    }
    @media screen and (max-width: 530px){
        .grid-container{
            display: grid;
            grid-template-columns: auto;
        }
    }
    .grid-item1{
        color: coral;
        width: 150px;
        height: 150px;
        border: 4px solid black;
        margin: 10px;
        text-align: center;
        font-weight: 900;
        text-decoration: underline;
        background-image: url(/images/cafe-espresso-min.jpg);
        background-size: cover;
        background-position: center;
    }
    .grid-item2{
        color: coral;
        width: 150px;
        height: 150px;
        border: 4px solid black;
        margin: 10px;
        text-align: center;
        font-weight: 900;
        text-decoration: underline;
        background-image: url(/images/espresso-doble-min.jpg);
        background-size: cover;
        background-position: center;
    }
    .grid-item3{
        color: coral;
        width: 150px;
        height: 150px;
        border: 4px solid black;
        margin: 10px;
        text-align: center;
        font-weight: 900;
        text-decoration: underline;
        background-image: url(/images/americano-min.jpg);
        background-size: cover;
        background-position: center;
    }
    .grid-item4{
        color: coral;
        width: 150px;
        height: 150px;
        border: 4px solid black;
        margin: 10px;
        text-align: center;
        font-weight: 900;
        text-decoration: underline;
        background-image: url(/images/capuccino-min.jpg);
        background-size: cover;
        background-position: center;
    }
    .grid-item5{
        color: coral;
        width: 150px;
        height: 150px;
        border: 4px solid black;
        margin: 10px;
        text-align: center;
        font-weight: 900;
        text-decoration: underline;
        background-image: url(/images/cafee-latte-min.jpg);
        background-size: cover;
        background-position: center;
    }
    .grid-item6{
        color: coral;
        width: 150px;
        height: 150px;
        border: 4px solid black;
        margin: 10px;
        text-align: center;
        font-weight: 900;
        text-decoration: underline;
        background-image: url(/images/moca-min.jpg);
        background-size: cover;
        background-position: center;
    }
}
/*---nosotros.html---*/
main {
    font-family: Georgia;
    font-weight: 500;
    .p-main{
        padding-top: 10px;
        font-size: 15px;
        font-weight: 500;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: #3D3D3D;
        color: bisque;
    }
    .link{
        background-color: #3D3D3D;
        color: rgb(49, 138, 223);
    }
}
/*---contacto.html---*/
main {
    .content-maincon{
        padding-top: 20px;
        background-color: #3D3D3D;
    }
    h2{
        font-size: 30px;
        font-weight: 500;
        color: bisque;
    }
    ul{
        .li-email{
            margin: 0%;
            padding-top: 10px;
            border-radius: 20px;
            background-color: $blue;
            color: $bisque;
            font-size: 20px;
            font-weight: 900;
            width: 100%;
            height: 100%;
            display: inline-block;
            text-align: center;
        }
    }
}