/*---index.html---*/
main {
    background-image: url(/images/bgi.jpg);
    background-position: center;
    background-repeat: space;
    background-size: cover;
    .section-2{
        font-weight: 500;
        font-size: 20px;
        margin: 0;
        padding-top: 20px;
        background-color: coral;
    }
    .grid-container{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    @media screen and (max-width: 530px){
        .grid-container{
            display: grid;
            grid-template-columns: auto;
        }
    }
    .grid-item1{
        color: white;
        width: 150px;
        height: 150px;
        border: 4px solid black;
        margin: 10px;
        text-align: center;
        font-weight: 900;
        text-decoration: underline;
        background-image: url(https://images.unsplash.com/photo-1485808191679-5f86510681a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
        background-size: cover;
        background-position: center;
    }
    .grid-item2{
        color: white;
        width: 150px;
        height: 150px;
        border: 4px solid black;
        margin: 10px;
        text-align: center;
        font-weight: 900;
        text-decoration: underline;
        background-image: url(https://images.unsplash.com/photo-1634234498465-a3a63b112256?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
        background-size: cover;
        background-position: center;
    }
    .grid-item3{
        color: white;
        width: 150px;
        height: 150px;
        border: 4px solid black;
        margin: 10px;
        text-align: center;
        font-weight: 900;
        text-decoration: underline;
        background-image: url(https://images.unsplash.com/photo-1514432324607-a09d9b4aefdd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
        background-size: cover;
        background-position: center;
    }
    .grid-item4{
        color: white;
        width: 150px;
        height: 150px;
        border: 4px solid black;
        margin: 10px;
        text-align: center;
        font-weight: 900;
        text-decoration: underline;
        background-image: url(https://images.unsplash.com/photo-1602320574582-741740d4fcd7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
        background-size: cover;
        background-position: center;
    }
    .grid-item5{
        color: white;
        width: 150px;
        height: 150px;
        border: 4px solid black;
        margin: 10px;
        text-align: center;
        font-weight: 900;
        text-decoration: underline;
        background-image: url(https://images.unsplash.com/photo-1593443320739-77f74939d0da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80);
        background-size: cover;
        background-position: center;
    }
    .grid-item6{
        color: white;
        width: 150px;
        height: 150px;
        border: 4px solid black;
        margin: 10px;
        text-align: center;
        font-weight: 900;
        text-decoration: underline;
        background-image: url(https://images.unsplash.com/photo-1530629159325-9c378fc150b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
        background-size: cover;
        background-position: center;
    }
}
/*---nosotros.html---*/
main {
    padding-top: 15px;
    font-family: Georgia;
    font-weight: 500;
    .p-main{
        padding-top: 10px;
        font-size: 15px;
        font-weight: 500;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: #3D3D3D;
        color: bisque;
    }
    .link{
        background-color: #3D3D3D;
        color: rgb(49, 138, 223);
    }
}
/*---contacto.html---*/
main {
    h2{
        font-size: 30px;
        font-weight: 500;
        color: bisque;
    }
    ul{
        font-size: 20px;
        color: bisque;
        text-align: left;
        display: inline-block;
        background-color: #3D3D3D;
    }
}