%flex{
    display: flex;
    flex-direction: row;
}
%grid{
    display: grid;
    grid-template-columns: auto;
}
%h3{
    padding-top: 20px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    background-color: #3D3D3D;
    color: bisque;
}
