/*---index.html---*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*---nosotros.html---*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: coral;
}
/*---contacto.html---*/
*{
    margin: 0;
    padding: 0;
    background-color: #3D3D3D;
}