/*---index.html---*/
@media screen and (max-width: 400px){
    .section-2{
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 530px){
    .grid-container{
        display: grid;
        grid-template-columns: auto;
    }
}
@media screen and (min-width: 770px){
    .form-class{
        display: flex;
        flex-direction: row;
    }
}
@media screen and (max-width: 770px){
    .form-class{
        display: flex;
        flex-direction: column;
        
    }
}
/*---nosotros.html---*/
@media screen and (min-width: 400px){
    nav{
        display: flex;
        flex-direction: column;
        text-align: end;
    }
}
@media screen and (max-width: 580px){
    .h2{
        display: flex;
        flex-wrap: wrap;
        text-align: left;
    }
}
/*---contacto.html---*/
@media screen and (max-width: 450px){
    .li-email{
        display: flex;
        flex-wrap: wrap;
    }
}

